/* General reset and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the modal container */
.flight-create-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
}

.flight-create-modal h1 {
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
}

/* Style the form */
.flight-create-modal form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Style the labels and inputs */
.flight-create-modal label {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.flight-create-modal input,
.flight-create-modal textarea {
  padding: 5px;
  margin-top: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* Style the error messages */

/* Style the submit button */
.flight-create-modal button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 5px;
}

.flight-create-modal button:hover {
  background-color: #0056b3;
}

/* Style the error divs */
.form-errors {
  min-height: 18px;
  font-size: 12px;
  color: red;
  margin-top: 3px;
  margin-bottom: 5px;
}

/* Style the file input container */
.file-inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.file-inputs-container img.thumbnails-noname {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 5px;
}

.file-inputs-container a.file-input-labels {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 5px;
}

.file-inputs-container a.file-input-labels:hover {
  text-decoration: underline;
}

.file-inputs-container input.form-input {
  display: none;
}
.site-label-info {
  color: black;
  font-size: 12px;
  font-weight: normal;
}
