/* Navbar container styled as a grid */
.navbardiv {
  display: grid;
  grid-template-columns: 2fr 10fr 2fr;
  align-items: center; /* Vertically center the content */

  height: 100%;
}

.navmaindiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.logo-container {
  position: relative;
  padding-left: 29px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoimg {
  height: 100px;
  opacity: 85%;
}
.logo-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -5px;
  background: url("../../../public/PARAGLIDELOGO.png") no-repeat center;
  background-size: contain;
  filter: drop-shadow(0 6px 2px rgba(10, 96, 255, 0.758));
  pointer-events: none;
  z-index: -1; /* Ensure the shadow is behind the image */
}

.usermenudiv {
  display: grid; /* Use grid layout */
  grid-template-rows: 70% 30%; /* 70% top, 30% bottom */
  height: 100%;
}
.user-photo {
  margin-top: 6px;
  height: 70px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.prof-image {
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.758); /* Add box shadow */
}

.user-pulldown-menu {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.profile-dropdown {
  position: absolute; /* Position the dropdown absolutely */
  top: 11%; /* Align the top of the dropdown with the bottom of the button */
  right: 0%;
  list-style: none;
  z-index: 1; /* Ensure the dropdown appears above other content */
  background-color: white; /* Add background color */
  border: 1px solid black; /* Add border */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px; /* Add padding */
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.452); /* Add box shadow */

  width: 16%;
  min-width: 90px;
}
