.mainpagesection {
  border: 2px solid rgb(0, 0, 0);
  background-color: rgba(93, 174, 255); /* Just for demonstration */
  height: 100%;
  display: grid;
  grid-template-columns: 20% 1fr; /* 20% for left column, remaining for feed */
  gap: 6px; /* 6px gap between columns */
}
