.leftcolumndiv {
  display: grid;
  grid-template-rows: 32% 1fr; /* 32% for top div, remaining for bottom div */
  gap: 6px; /* 6px gap between rows */
  border: 2px solid rgb(125, 248, 24);
}

.left-page-info-div {
  background-color: rgb(255, 0, 0); /* Red background for top div */
  border: 2px solid black; /* Black border for top div */
}

.left-nav-tree-div {
  background-color: rgb(243, 152, 16); /* Green background for bottom div */
  border: 2px solid black; /* Black border for bottom div */
}
